<div class="route">
  <div class="inputs">
    <img class="driver-icon" alt="driver-icon" {{bind-attr src=iconPath}}>
    {{input value=driverName class="driver-name"}}

    <label>From</label>
    {{input value=origin action="updateMap" class="location origin" type="text" placeholder="Origin"}}
    <label>To</label>
    {{input value=destination action="updateMap" class="location destination" type="text" placeholder="Destination"}}
  </div>
  {{#if winner}}
  <div class="winner">{{winnerText}}</div>
  {{/if}}
</div>
